/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 1164px;
	height:299px;
        margin: 0 auto;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.items div {
	float:left;
	width:1164px;
	height:299px;
}

/* single scrollable item */
.scrollable img {
	float:left;
    width: auto !important;	
}

/* active item */
.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}

#chained {
}

.navi {
    margin: -20px auto 0 auto !important;
    margin-top: -20px;
    position: relative;
    padding-left: 20%;
}

.navi a {
    border: none !important;
}
